@import "tailwindcss";

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.bg-obsessed-text {
  background-image: url("/obsessed-text.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cave-labs-hero-bg {
  background-image:
    linear-gradient(to bottom, #00000056, #00000056), url("/cave-labs-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
